
.register {
    height: 79.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EAEDED !important;
}

.register_container {
    max-width: 500px;
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    /* border: 0.5px solid grey; */
    /* box-shadow: grey inset; */
}

.acenter{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acenter > button {
    width: 100%;
}
